<h3>Backing Props Generator</h3>
<p>Creates the MVVM backing properties for controls in a given XAML input. This is not an XAML parser, 
   so the x:Name element must be on the same line as the control type, e.g. &lt;DatePicker x:Name="BirthDay" ...</p>
<form [formGroup]="propsForm" (ngSubmit)="onSubmit(propsForm)">
   <div class="row">
      <div class="col-6">
         <label>Input:</label>
         <textarea class="code-box" formControlName="inputText" rows="16" cols="50"
          placeholder="Input code goes here ..."></textarea>
      </div>
      <div class="col-6">
         <label>Generated Output:</label>
         <textarea class="code-box" formControlName="outputText" rows="16" cols="50"
          placeholder="Generated output will appear here."></textarea>
      </div>
   </div>
   <div class="row">
      <div class="col-3">
         <label>
            <input type="checkbox" formControlName="threadsafe" checked>
            Use threadsafe setter
         </label>
      </div>
   </div>
   <button type="submit" class="btn btn-primary" >Create Backing Props</button>
</form>
