<h3>Backing props Generator</h3>
<p></p>
<form [formGroup]="propsForm" (ngSubmit)="onSubmit(propsForm)">
   <div class="row">
      <div class="col-6">
         <label>Input:</label>
         <textarea class="code-box" formControlName="inputText" rows="16" cols="50"
          placeholder="Input code goes here ..."></textarea>
      </div>
      <div class="col-6">
         <label>Generated Output:</label>
         <textarea class="code-box" formControlName="outputText" rows="16" cols="50"
          placeholder="Generated output will appear here."></textarea>
      </div>
      
   </div>
   <button type="submit" class="btn btn-primary" >Create Backing Props</button>
</form>
