<!-- <app-input-output></app-input-output> -->
<h3>Create Grid from Class</h3>
<p>Input a C# POCO, and generate a baseline XAML grid. The default control type is TextBox.
   DateTimes will generate a DatePicker, and bools will generate a CheckBox, but for other 
   data types you will need to manually change the control type.</p>
<div class="row">
   <div class="col-6">
         <label>Input:</label>
         <textarea ref-inputTextArea class="code-box" [(ngModel)]="inputText" rows="8" cols="50" placeholder="Input code goes here ...">
         </textarea>        
   </div>
   <div class="col-6">
         <label>Generated Output:</label>
         <textarea ref-outputTextArea  class="code-box" [(ngModel)]="outputText" rows="8" cols="50"
            [placeholder]="outputText.trim().length > 0 ? '' : 'Generated output will appear here.'"></textarea>
   </div>
</div>
<button type="button" class="btn btn-primary" (click)="createGrid(inputTextArea.value)">Create Grid</button>
