<h3>Create Grid from Class</h3>
<p>Input a C# POCO (public properties only) and generate a baseline XAML grid. The default control type is TextBox.
   DateTimes will generate a DatePicker, and bools will generate a CheckBox, but for other 
   data types you will need to manually change the control type. The grid rows are created 
   in the order that they appear in the class. Row and Column numbering starts at 1, based on my personal preference
   to use the first row and column as a margin.</p>
<form [formGroup]="gridForm" (ngSubmit)="onSubmit(gridForm)">
   <div class="row">
      <div class="col-6">
         <label>Input:</label>
         <textarea class="code-box" formControlName="inputText" rows="16" cols="50"
          placeholder="Input code goes here ..."></textarea>
      </div>
      <div class="col-6">
         <label>Generated Output:</label>
         <textarea class="code-box" formControlName="outputText" rows="16" cols="50"
          placeholder="Generated output will appear here."></textarea>
      </div>
   </div>
   <button type="submit" class="btn btn-primary" >Create Grid</button>
</form>
