<h3>Swap Assignment</h3>
<p>When doing left-to-right copy (aka, Otto-mapper where your name is Otto), sometimes you need to
    flip the direction of the assignment statements in another part of the code base.
    This tool swaps assignment around the equals (=) sign.</p>
<form [formGroup]="myForm" (ngSubmit)="onSubmit()">
   <div class="row">
      <div class="col-6">
         <label>Input:</label>
         <textarea class="code-box" formControlName="inputText" rows="16" cols="50"
          placeholder="Input code goes here ..."></textarea>
      </div>
      <div class="col-6">
         <label>Generated Output:</label>
         <textarea #outputElement class="code-box" formControlName="outputText" rows="16" cols="50"
          placeholder="Generated output will appear here."></textarea>
      </div>
   </div>
   <div class="row">
      <div class="col-6">
         <button type="submit" class="btn btn-primary" >Swap Assignment</button>
      </div>
      <div class="col-6 text-right">
         <button type="button" class="btn btn-success" (click)="copyText(outputElement)">Copy to Clipboard</button>
      </div>
   </div>
</form>